.main{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contenedor{
    border-radius: .5rem;
    padding: 1rem;
    margin: 1rem;
    background-color: #fff;
}

.frase{
    font-size: 1.3rem;
    text-align: center;
    position: relative;
}

.frase::before{
    content: open-quote;
    font-size: 3rem;
}

.autor{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1rem;
    font-weight:bold;
    text-align: right;
    color: #666;
    margin-top: 2rem;
}

.boton{
    width: 80%;
    background: -webkit-linear-gradient(top left, #007d35 0%, #007d35 40%, #0f574e 100%); 
    color: #fff;
    padding: 1rem;
    font-size: 1rem;
    font-weight: bold;
    border: none;
    border: 2px solid black;
    border-radius: 1rem;
    margin-bottom: 1rem;
}

.boton:hover{
    cursor:pointer;
}

@media screen and (min-width: 768px){
    .contenedor{
        width: 80%;
        padding: 1.5rem;
        margin-bottom: 3rem;
    }
    .frase{
        font-size: 2rem;
    }
    .autor{
        font-size: 1.5rem;
    }
    .boton{
        width: 30%;
    }
}