html {
  box-sizing: border-box;
  font-size: 16px;
}

*, *:before, *:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
}

body {
  background: #007d35;
  font-family: sans-serif;
}

img{
  max-width: 100%;
}

#root {
  max-width: 1440px;
  height: 100vh;

  display: flex;
  flex-direction: column;
}